<!--    This is html homepage. -->

<div class="container-fluid" style="width: 90%">
    <div id="carousel-fade" class="carousel carousel-fade" data-ride="carousel" data-interval="5000">

        <div class="carousel-inner embed-responsive embed-responsive-16by9" role="listbox">
            <div class="carousel-item embed-responsive-item active" data-interval="3000">
                <img src="/images/delicounter1.jpg" alt="First slide image" class="img-fluid">
            </div>

            <div class="carousel-item embed-responsive-item" data-interval="3000">
                <img src="/images/deliCounter2.jpg" alt="Second slide image" class="img-fluid">

            </div>

            <div class="carousel-item embed-responsive-item" data-interval="3000">
                <img src="/images/deliCounter3.jpg" alt="Third slide image" class="img-fluid">
            </div>
        </div>

        <div class="indexBlock" id="jumboBody">
            <div class="form-group row">
                <div>
                    <h1 id="jumboHeadline">
                         TORI'S<br>DELI</h4>Hungry for the best virtual sandwich on the internet? You’ve come to the right place! Tori’s Deli features a full menu of all your
                            favorites from old-world classics to healthy contemporary choices. Click the menu button to get started!<br><br>
                </div>
                <div class="col-md-12">
                    <a href="/menu"><button type="button" class="btn btn-outline-secondary"
                            id="homeMenuButton">Menu</button></a>
                    <a href="/ready"><button type="button" class="btn btn-outline-secondary" id="homeOrderButton">Check
                            Orders</button></a>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

<script src="/js/index.js"></script>